# PyCharm
.idea/
# RStudio
.Rproj.user
# Project inputs/outputs
/docs/
/data/interim/sample_metoo_tweets.csv
/data/
/data/raw/metoo/
/data/external/rapeglish/
.ipynb_checkpoints/
/notebooks/hatespeech/runs/
/runs/
/reports/hatespeech/figures/
*.png
*.jpg
*.jpeg
# Temp files
tmp/
target/
.coverag*
build/
dist/
*.egg-info/
outputs/
output/
__pycache__/
*.log
*.swp
# pytest
.pytest_cache
# Numpy cache matrices
*.npy
